version: '3.9'
services:
  postgres:
    image: postgres:latest
    restart: always
    ports:
      - 5432:5432
    volumes:
      - posgtres-data:/var/lib/postresql/data
    environment:
      - POSTGRES_DB=dev
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=toor
volumes:
  posgtres-data:
    driver: local
